framework: netstandard20
source https://api.nuget.org/v3/index.json

nuget Newtonsoft.Json 12.0.3

nuget Fake.Core.Environment
nuget Fake.Core.Process
nuget Fake.Core.Target
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Paket
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Npm
