// Only the target frameworks that are used in projects.
// If you change the target framework of the projects then you need to run paket install again.
framework: netstandard20

// When doing development as a non-employee, uncomment this to use the public NuGet feed
source https://api.nuget.org/v3/index.json

// When doing development as an employee, uncomment this to use the private NuGet proxy
// source https://informatievlaanderen.myget.org/F/nuget-mirror/api/v3/index.json username: "%MYGET_FEED_USER%" password: "%MYGET_FEED_PASS%" authtype: "basic"

nuget Newtonsoft.Json 12.0.3

nuget Fake.Core.Environment
nuget Fake.Core.Process
nuget Fake.Core.Target
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Paket
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Npm
